spring.application.name=draftly

# MongoDB Configuration
spring.mongodb.uri=mongodb+srv://<USERNAME>:<PASSWORD>@draftly.xxxxxxx.mongodb.net/draftly?retryWrites=true&w=majority
spring.data.mongodb.database=draftly

# Server Configuration
server.port=8080
